body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0b0f14;
  color: white;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(10, 15, 20, 0.9);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 22px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #00e0ff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  color: #aaa;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: #121821;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.card:hover {
  background: #16202a;
}
